
/* Animação */

@keyframes deslizarFaixa {
	to { 
		left:0;
		
	}

}
@keyframes sairFaixa {
	to { 
		left:100%;
		
	}
}



/* Elementos */

.faixa {
	position: fixed;
	top: 40%;
	left: -100%;
	width: 100%;
	padding: 20px;
	color: white;
	font-size: 2.5rem;
	text-align: center;
	font-weight: bold;
	z-index: 9999;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	animation: deslizarFaixa 1s ease-out forwards, sairFaixa 1s ease-in 3s
	forwards;
}

