/* Animação */

@keyframes entradaCarta {
	from {
		opacity: 0;
		transform: translateY(40px) scale(0.8);
	}
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}


/* Elementos */

html, body{
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.mesa{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	padding: 24px;
	align-items: center;
	justify-content: center;
	background: radial-gradient(circle, #5f79d6 0%, #2947A5 100%);
	flex-direction: column;
	box-sizing: border-box;
	position: relative;

}

.mesa__posicao{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mesa__posicao-lugar-vertical{
	display: flex;
	align-items: center;
	gap: 8px;
}
.mesa__posicao-lugar-horizontal{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}


.posicao--horizontal{
	width: 400px;
	height: 100px;

}

.posicao--vertical{
	width: 100px;
	height: 400px;

}


.mesa__posicao-jogador{
	position: relative;

}

.mesa__posicao-jogador-label{
	width: 100px;
	height: 40px;
	background: #fff;
	color: #000;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	box-shadow: 0 3px 6px rgba(0,0,0,0.4);

}

.posicao--meio{
	height: 100%;
}

#jogador-direita-cartas .img--carta-vertical{
	transform: rotate(90deg);
}

.posicao-label--esquerda{
	transform: rotate(90deg);

}

.posicao-label--direita{
	transform: rotate(-90deg);

}


.img--carta-jogada{
	width: 64px;
	height: 100px;
	transition: all 1s ease;
	
}



.mesa__centro-cartas{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	box-sizing: border-box;
}

.mesa__centro-cartas-tabela{
	padding: 8px;
	box-sizing: border-box;
	gap: 8px;
	display: flex;
	flex-direction: column;
}

.mesa__centro-cartas-linha{
	gap: 8px;
	display: flex;
}



.mesa__carta-centro{
	height: 80px;
	width: 64px;
	opacity: 0;
	animation: entradaCarta 0.4s ease forwards;


}

.mesa__carta-centro-img {
	width: 100%;
	height: 100%;
	object-fit: contain; 
	display: block;
}

.img--carta-horizontal{
	height: 100px;
	width: 64px;
}

.img--carta-vertical{
	height: 100px;
	width: 64px;
	transform: rotate(-90deg);
}



.jogador--ativo{
	background: #FFBE00;
}

#jogador-principal-cartas .mesa__carta-jogadores:hover {
	transform: translateY(-12px);
	transition: transform 0.2s ease;
	z-index: 10;
	cursor: pointer;

}

.carta--selecionada{
	border: solid 2px  #FFBE00;
	border-radius: 5px;
	transform: translateY(-12px);
	z-index: 10;
}

.mesa__centro-cartas-monte{
	height: 100px;
	width: 64px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.6s ease;
	z-index: 999;

}


